body {
  width: 100%;
  height: 100%;
  margin: 0;
}

div#chest_of_drawer{
    max-width: 300px;
    padding: 30px;
    margin: auto;
    text-align: center;
}

.topper{
    /*font: */
    padding: 10px;
}

.topper span{
    vertical-align: middle;
}

.topper img{
    vertical-align:middle;
    padding-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 15%; /* If you'd like circle img, your border-radius will be "50%" */
}

.drawer{
    margin: 20px auto;
    padding: 10px;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid MidnightBlue;
    text-align: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom right,PowderBlue,PowderBlue, DarkCyan  );
    /*if you'd like to change colors and you don't know the correct color-names..
    you could have a look at: https://www.w3schools.com/colors/colors_names.asp */
}

.drawer:hover {
    transform: scale(1.05,1.05);
}

.drawer a {
    text-decoration: none;
}
